{{!<!DOCTYPE html>
<html>}}
    {{!<head>}}
        <div id="siteDiv">
        {{>navbar}}

        <link rel="stylesheet" href="/css/reg_log_design.css">
        <script src="/js/logoutScript.js"></script>
    {{!</head>}}

    {{!<body>}}
        <div id="formContainer">
            <h1 style="text-align: center;">Would you like to logout?</h1>
            <br>
            <button style="margin-left: 38%;" type="button" id="submit">Logout</button>
            <p id="errorMsg">{{errorMsg}}</p>
        </div>
        </div>
    {{!</body>}} 
{{!</html>}}